body{
    background: #f4f4f4;
    font-size: 12px;
}
.item-grid{
    float: left;
    display: inline;
    width: 59px;
}

.form-cadastro{
    background: #f4f4f4 !important;
}

.form-cadastro div{
    display: table-cell;
}

.hidden{display: none;}